venv/
*.pyc
workspace.xml
misc.xml
*.iml
db.config.json
email.config.json
.cache/
.coverage
.pytest_cache
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
